<!-- # app/views/patients/show.html.erb -->

<h1>Appointment: <%= @appointment.appointment_datetime.strftime("%B %-d, %Y at %k:%M") %></h1>

<h2>Doctor: <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %></h2>
<p>Department: <%= @appointment.doctor.department %></p>

<h2>Patient: <%= link_to @appointment.patient.name, patient_path(@appointment.patient) %></h2>

<p>Age: <%= @appointment.patient.age %></p>
